Aulas
DevOps-with-Kubernetes
myDev
K8s-exercises/Log output/node_modules/
K8s-exercises/Project/back/node_modules/
K8s-exercises/Project/back/.env
K8s-exercises/Project/back/requests.rest
K8s-exercises/Project/back/back/node_modules/
K8s-exercises/ping-pong/node_modules/
K8s-exercises/Log output/hash-output/node_modules/
K8s-exercises/Log output/time-output/node_modules/
K8s-exercises/Log output/ping-pong/node_modules/
K8s-exercises/Log output/log-output/node_modules/

